#controls {
  width: 70%;
  margin: auto;
  align-content: center;
}

#container {
  display: grid;
  grid-gap: 0px;
  width: 550px;
  height: 550px;
  margin: auto;
  background-color: rgb(60, 60, 60);
  border: 1px solid #666;
}

.gridElement {
  background-color: white;
  border: 1px solid #ddd;
}

.gridElementHovered {
  /*padding: 1vh;*/
  background-color: black;
}
