#controls {
  width: 70%;
  margin: auto;
  align-content: center;
}

#container {
  display: grid;
  grid-gap: 0px;
  width: 70%;
  margin: auto;
  background-color: gray;
}

.gridElement {
  /*
  height: 20vmin;
  width: 20vmin;
  */
  padding: 12vh;
  background-color: white;
  border: 1px solid black;
}

.gridElementHovered {
  padding: 10vh;
  background-color: black;
  border: 1px solid black;
}
